# Ignore Visual Studiofiles
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
[o]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
.vs/
compilerconfig.json
sonar-project.properties


_ReSharper*/

*.sublime-workspace
_references.js

# Vim
*.swp
*~

.svn
log.log*

.sass-cache

Version.txt

packages/*
node_modules/
bower_components/
jspm_packages/
appsettings.dev.config

# ApprovalTests
*.received.*
appsettings-list.txt
*.test.results.xml

*.ncrunchproject
*.ncrunchsolution

npm-debug.log.*

*.ncrunchproject
*.ncrunchsolution
nCrunchTemp*

project.lock.json
/CFS.Services/project.lock.json
/CFS.Services/project.lock.json
/CFS.DataAccess.Impl/project.lock.json
