@model log.elmahbucket.io.Infrastructure.Models.NewErrorEmailTemplateModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New Error</title>
</head>
<body>
    <p>Message: @Model.Message</p>
    <p>Time: @Model.Time</p>
    <p>Detail: @Model.Detail</p>
</body>
</html>